line-length = 100
output-format = "concise"
preview = true

[format]
docstring-code-format = true
docstring-code-line-length = 100

[lint]
# https://docs.astral.sh/ruff/rules/
extend-select = [
    "F",  # pyflakes
    "E",  # pycodestyle errors
    "W",  # pycodestyle warnings
    "PL", # pylint

    # flake8
    "A",     #   -builtins
    "ASYNC", #   -async
    "B",     #   -bugbear
    "BLE",   #   -blind-except
    "C4",    #   -comprehensions
    "COM",   #   -commas
    "DTZ",   #   -datetimez
    "EM",    #   -errmsg
    "EXE",   #   -executable
    "FA",    #   -future-annotations
    "FBT",   #   -boolean-trap
    "G",     #   -logging-format
    "ICN",   #   -import-conventions
    "INP",   #   -no-pep420
    "INT",   #   -gettext
    "ISC",   #   -implicit-str-concat
    "LOG",   #   -logging
    "PIE",   #   -pie
    "PT",    #   -pytest-style
    "PYI",   #   -pyi
    "Q",     #   --quotes
    "RET",   #   -return
    "RSE",   #   -raise
    "SIM",   #   -simplify
    "SLOT",  #   -slots
    "T10",   #   -debugger
    "T20",   #   -print
    "TCH",   #   -type-checking
    "TD004", #   -todos
    "TD005",
    "TD006",
    "TD007",
    "TID",   #   -tidy-imports
    "YTT",   #   -2020

    "C90",  # mccabe
    "D",    # pydocstyle
    "ERA",  # eradicate
    "FLY",  # flynt
    "FURB", # refurb
    "I",    # isort
    "N",    # pep8-naming
    "PERF", # Perflint
    "PGH",  # pygrep-hooks
    "RUF",  # Ruff-specific rules
    "TRY",  # tryceratops
    "UP",   # pyupgrade
]

ignore = [
    # builtin-module-shadowing (relative module names such as 'abc' or 'types' are pretty normal)
    "A005",

    # allow async functions with timeout parameter
    "ASYNC109",

    # gives false positives
    "B903",

    # Relax on missing docstrings
    "D1",

    # "Commented-out" has lots of false positives
    "ERA001",

    # conflicting with formatter
    "W191",
    "E111",
    "E114",
    "E117",
    "D206",
    "D300",
    "Q000",
    "Q001",
    "Q002",
    "Q003",
    "COM812",
    "COM819",
    "ISC001",
    "ISC002",

    # seems to produce a lot of false positives
    "PLR6301",

    # allow "magic values"
    "PLR2004",

    # ruff doesn't track inheritance across files, disabling to prevent false positives
    # https://github.com/astral-sh/ruff/issues/5243#issuecomment-1860862939
    "RUF012",
    "RUF022",
]

pydocstyle = { convention = "google" }

[lint.flake8-tidy-imports]
ban-relative-imports = "parents"

[lint.isort]
known-first-party = ["flitzis_looper"]

[lint.mccabe]
max-complexity = 10

[lint.pylint]
max-args = 10
max-branches = 15
max-nested-blocks = 10
